<header>
    <nav class="navbar-mine">
        <ul>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="/users/logout">Logout</a></li>
            <div class="search">
                <li> Question Paper Generator </li>
            </div>
        </ul>
    </nav>
</header>