<header class="container bg-primary border-bottom border-dark">
    <nav class="navbar navbar-expand-lg navbar-light  " style="background-color: #e3f2fd;">
        <div class="container-fluid ">
          <a class="navbar-brand fs-3 fw-bold pe-3 border-end border-dark" href="/">
              <!-- <img src="https://www.freepik.com/free-vector/cricket-ball-fire_5366342.htm#query=cricket%20logo&position=13&from_view=search"> -->
              CricStar
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
              <a class="nav-link active fs-5 fw-bold px-3" aria-current="page" href="/matches">Courses</a>
              <a class="nav-link fs-5 fw-bold active px-3" href="/players">Edit Profile</a>
              <a class="nav-link fs-5 fw-bold active px-3" href="/venues">Logout</a>
            </div>
          </div>
        </div>
      </nav>
</header>
