<!DOCTYPE html>
<html>
<head>
    <%- include("./partial/head.ejs") %>

</head>
<body>
    <%- include("./partial/parent_nav.ejs") %>
    <div>
        <div>
            <h1>COURSE_NAME</h1>
            buttons for Chapters,TA,Question paper generator
        </div>
        <div>
            Add/Remove button
            Show list of TA's names(clickable links)
        </div>
    </div>
</body>
</html>